<div
class="a_p_p_NavHeaderPod"
>
    <!-- row 1 -->
    <div
    [class]="prefix.header({val:'Item0'})"
    >
        <img
        class="a_p_p_NavHeaderImg0 a_p_p_SpecificPodMargin"
        routerLink="/home"
        src="assets/media/nav_0.png" alt="">
        <img
        class="a_p_p_NavHeaderImg1 a_p_p_SpecificPodMargin"
        routerLink="/home"
        (click)="ryber.nav.mobileLinks.icon.click($event)"
        src="assets/media/nav_1.png" alt="">
    </div>

    <h1
    class= "a_p_p_SpecificWhite  a_p_p_NavHeaderTitle"
    >{{nav.title?.text}}</h1>
    <button
    class="a_p_p_NavHeaderGetInTouch"
    >
        Get In Touch
    </button>
    <div
    [class]="prefix.header({val:'SubTitlePod'})"
    >
        <h2
        [class]="prefix.header({val:'SubTitleText'})"
        >{{nav.subtitle?.text}}</h2>
    </div>
    <div
    class="a_p_p_NavMainPod"
    appSubNav
    >
        <div
        class="a_p_p_NavMainHeadPod a_p_p_SpecificBGBlack"
        *ngFor="let x of nav.links?.items"
        (mouseenter)="x.link?.mouseenter($event)"
        (mouseleave)="x.link?.mouseleave($event)"
        >
            <a
            [routerLink]='"/"+ x.link?.text | lowercase'
            class="a_p_p_NavMainHeadLinkText a_p_p_SpecificWhite"
            >{{x.link?.text}}</a>
            <div
            class="a_p_p_NavMainSubPod"
            [ngStyle]="x.subPod?.style"
            >
                <a
                class="a_p_p_NavMainSubLinkText a_p_p_SpecificWhite"
                *ngFor="let y of x.subLink"
                [routerLink]='"/"+ y.text'
                >{{y.text}}</a>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
