@font-face {
    font-family: 'Pilo';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Pilo-Regular.otf');
}

@font-face {
    font-family: 'Oswald';
    src: url(../fonts/oswald.regular.ttf);
}
